<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>udform</servlet-name>
        <servlet-class>controller.UDform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ubform</servlet-name>
        <servlet-class>controller.UBform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uhform</servlet-name>
        <servlet-class>controller.UHform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sbloodbank</servlet-name>
        <servlet-class>controller.SBloodbank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shospital</servlet-name>
        <servlet-class>controller.SHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sdoctor</servlet-name>
        <servlet-class>controller.SDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAppoint</servlet-name>
        <servlet-class>controller.UserAppoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppoint</servlet-name>
        <servlet-class>controller.CancelAppoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>udform</servlet-name>
        <url-pattern>/doctor-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ubform</servlet-name>
        <url-pattern>/bloodbank-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uhform</servlet-name>
        <url-pattern>/hospital-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sbloodbank</servlet-name>
        <url-pattern>/bloodbank-searched</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shospital</servlet-name>
        <url-pattern>/hospital-searched</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sdoctor</servlet-name>
        <url-pattern>/doctor-searched</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAppoint</servlet-name>
        <url-pattern>/appointment-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppoint</servlet-name>
        <url-pattern>/search-doctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
